



body {
    background-image: url(./astfu.gif);
    font-family: 'Segoe UI',  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-position: 50% 75%;  
    background-repeat: no-repeat; 
    background-size: cover;
}



#weather-container {
   
  background-color: #272727;
    max-width: 400px;
    padding: flex;
    border-radius: 15px;
    box-shadow: 0 8px 32px rgb(0, 0, 0);
    border: 5px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    opacity: 0.9;
}


h2, label, p {
    color: #ffffff;
    margin: 8px;

}

input {
    width: calc(60% - 50px);
    padding: 8px;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid white;
    margin-top: 20px;
}


button {
    background: #3258ff;
    color: white;
    padding: 10px;
    border: 1px;
    border-radius: 10px;
    cursor: pointer;
    width: 100px;
    font-size: 15px;
    margin-top: 30px;
    
}





button:hover {
    background:  #8b48d7;

}



#temp-div p {
    font-size: 60px;
    margin-top: -30px;

}


#weather-info {
    font-size: 20px;
}



#weather-icon {
    width: 200px;
    height: 200px;
    margin: 0 auto 10px;
    margin-bottom: 0;
    display: none;
}



#hourly-forecast {
    margin-top: 35px;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}




.hourly-item {
    flex: 0 0 auto;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    color: white;
}

.hourly-item img {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}





#hourly-heading {
    color: #fff;
    margin-top: 10px;

}



